<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ekta Plastics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<div class="ek_outer" style="margin:10px;">
    <div class="ek_title" style="border:5px solid #000;margin:0 0 5px ;">
        <div style="position:relative;padding:10px 10px 0 10px;">
            <p style="text-align:center;font-size:70px;line-height:1.5;margin:0 0 10px;">Shreeji Packaging</p>
            <div class="ek_gst_state" style="display:block;margin:0 auto;width:600px;">
                <div class="rw">
                    <div class="col6"
                         style="float:left;width:45%;text-align:center;border:2px solid #000;border-right:0;border-bottom:0px;">
                        <p style="font-size:18px;">GST No. : 24AEIPP4810R1Z1</p>
                    </div>
                    <div class="col6"
                         style="float:left;width:45%;text-align:center;border:2px solid #000;border-bottom:0px;">
                        <p style="font-size:18px;">State : GUJARAT (24)</p>
                    </div>
                    <div style="clear:both;display:block;"></div>
                </div>
            </div>
            <div class="ek_mob" style="position:absolute;top:10px;right:10px;">
                <p style="line-height:1;margin:0;font-size:18px;">M. : 9825740468</p>
            </div>
            <div class="ek_tx_invoice" style="position:absolute;bottom:10px;right:10px;">
                <p style="line-height:1;margin:0;font-size:30px;">TAX INVOICE</p>
            </div>
        </div>
        <div class="sj_address" style="border-top:2px solid #000;padding:10px;">
            <div class="col12" style="text-align:center">
                <p style="margin:0;line-height:1.5;">L.D.H.M.H.D. Films Rolls Sheets Bags</p>
                <p style="font-weight:400;margin:0;line-height:1.5;">A-1/253/24,G.I.D.C. Industrial Estate, Makarpura,
                    Vadodara-390010</p>
            </div>
        </div>
    </div>
    <div style="border:1px solid #000;margin:0 0 5px ;">
        <div style="width:43%;float:left;padding:5px 10px;border-right:1px solid #000;">
            <p style="margin:0;line-height:1.5;font-size:20px;">Reverse Charge : </p>
            <p style="margin:0;line-height:1.5;font-size:20px;">Invoice No : </p>
            <p style="margin:0;line-height:1.5;font-size:20px;">Invoice Date : </p>
            <p style="margin:0;line-height:1.5;font-size:20px;">State : </p>
        </div>
        <div style="width:53%;float:left;padding:5px 10px;">
            <p style="margin:0;line-height:1.5;font-size:20px;">Transportation Mode : </p>
            <p style="margin:0;line-height:1.5;font-size:20px;">vehicle Number : </p>
            <p style="margin:0;line-height:1.5;font-size:20px;">Date Of Supply : </p>
            <p style="margin:0;line-height:1.5;font-size:20px;">Place Of Supply : </p>
        </div>
        <div style="clear:both;display:block;"></div>

    </div>
    <div style="border:1px solid #000;margin:0 0 5px ;">
        <p style="border-bottom:1px solid #000;line-height:1.5;margin:0;padding:0 10px;">Details Of Buyer</p>
        <p style="margin:0;line-height:1.5;font-size:20px;padding:0 10px;">Name : </p>
        <p style="margin:0;line-height:1.5;font-size:20px;min-height:50px;padding:0 10px;">Address :</p>
        <p style="margin:0;line-height:1.5;font-size:20px;padding:0 10px;">State : </p>
        <p style="margin:0;line-height:1.5;font-size:20px;padding:0 10px;">GST No : </p>


    </div>
    <div>
        <table style="width:100%;border:1px solid #000;border-spacing:0px;">
            <tr>
                <td style="line-height:2;font-size:20px;text-align:center;border-right:1px solid #000;border-bottom:1px solid #000;">
                    SR. No
                </td>
                <td style="line-height:2;font-size:20px;text-align:center;border-right:1px solid #000;border-bottom:1px solid #000;">
                    Description of Goods
                </td>
                <td style="line-height:2;font-size:20px;text-align:center;border-right:1px solid #000;border-bottom:1px solid #000;">
                    HSN/ACS
                </td>
                <td style="line-height:2;font-size:20px;text-align:center;border-right:1px solid #000;border-bottom:1px solid #000;">
                    Quantity
                </td>
                <td style="line-height:2;font-size:20px;text-align:center;border-right:1px solid #000;border-bottom:1px solid #000;">
                    Per
                </td>
                <td style="line-height:2;font-size:20px;text-align:center;border-right:1px solid #000;border-bottom:1px solid #000;">
                    Rate
                </td>
                <td style="line-height:2;font-size:20px;text-align:center;border-bottom:1px solid #000;">Amount</td>
            </tr>
            <tr>
                <td style="line-height:1.5;font-size:20px;text-align:center;border-right:1px solid #000;height:600px;vertical-align:top;padding-top:5px;border-bottom:1px solid #000;">
                    1
                </td>
                <td style="line-height:1.5;font-size:20px;border-right:1px solid #000;padding-left:10px;height:600px;vertical-align:top;padding-top:5px;border-bottom:1px solid #000;">
                    Polyethylene Pakaging Material
                </td>
                <td style="line-height:1.5;font-size:20px;text-align:center;border-right:1px solid #000;height:600px;vertical-align:top;padding-top:5px;border-bottom:1px solid #000;"></td>
                <td style="line-height:1.5;font-size:20px;text-align:center;border-right:1px solid #000;height:600px;vertical-align:top;padding-top:5px;border-bottom:1px solid #000;"></td>
                <td style="line-height:1.5;font-size:20px;text-align:center;border-right:1px solid #000;height:600px;vertical-align:top;padding-top:5px;border-bottom:1px solid #000;">
                    Kg
                </td>
                <td style="line-height:1.5;font-size:20px;text-align:center;border-right:1px solid #000;height:600px;vertical-align:top;padding-top:5px;border-bottom:1px solid #000;"></td>
                <td style="line-height:1.5;font-size:20px;text-align:center;height:600px;vertical-align:top;padding-top:5px;border-bottom:1px solid #000;">
                    0.00
                </td>
            </tr>

            <tr>
                <td
                    style="line-height:1.5;font-size:20px;border-right:1px solid #000;padding-left:10px;vertical-align:top;border-bottom:1px solid #000;">
                    Total Invoice Amount in Words : <b>INR</b></td>
                <td
                    style="line-height:1.5;font-size:20px;text-align:left;border-right:1px solid #000;border-bottom:1px solid #000;padding: 0 10px;">
                    Sub Total
                </td>
                <td style="line-height:1.5;font-size:20px;text-align:right;border-bottom:1px solid #000;padding: 0 10px;">
                    0.00
                </td>
            </tr>
            <tr>
                <td
                    style="line-height:1.5;font-size:20px;text-align:left;border-right:1px solid #000;border-bottom:1px solid #000;padding: 0 10px;">
                    Add : <b>CGST</b> 9%
                </td>
                <td
                    style="line-height:1.5;font-size:20px;text-align:right;border-bottom:1px solid #000;padding: 0 10px;">
                    0.00
                </td>
            </tr>
            <tr>
                <td
                    style="line-height:1.5;font-size:20px;text-align:left;border-right:1px solid #000;border-bottom:1px solid #000;padding: 0 10px;">
                    Add : <b>SGST</b> 9%
                </td>
                <td
                    style="line-height:1.5;font-size:20px;text-align:right;border-bottom:1px solid #000;padding: 0 10px;">
                    0.00
                </td>
            </tr>
            <tr>
                <td
                    style="line-height:1.5;font-size:20px;border-right:1px solid #000;padding-left:10px;vertical-align:top;border-bottom:5px double #000;">
                    Bank Details : <br>THE MAKARPURA INDUSTRIAL ESTATE CO.OP.BANK LTD. <BR>Account No.:
                    159002305000354<br>Bank IFSC Code:
                </td>
                <td
                    style="line-height:1.5;font-size:20px;text-align:left;border-right:1px solid #000;border-bottom:1px solid #000;padding: 0 10px;">
                    Add : <b>IGST</b> 0%
                </td>
                <td style="line-height:1.5;font-size:20px;text-align:right;border-bottom:1px solid #000;padding: 0 10px;">
                    0.00
                </td>
            </tr>
            <tr>
                <td
                    style="line-height:1.5;font-size:20px;text-align:left;border-right:1px solid #000;border-bottom:1px solid #000;padding: 0 10px;">
                    Tax Amount
                </td>
                <td
                    style="line-height:1.5;font-size:20px;text-align:right;border-bottom:1px solid #000;padding: 0 10px;">
                    0.00
                </td>
            </tr>
            <tr>
                <td
                    style="line-height:1.5;font-size:20px;text-align:left;border-right:1px solid #000;border-bottom:1px solid #000;padding: 0 10px;">
                    Rounding
                </td>
                <td
                    style="line-height:1.5;font-size:20px;text-align:right;border-bottom:1px solid #000;padding: 0 10px;"></td>
            </tr>
            <tr>
                <td
                    style="border-bottom:5px double #000;line-height:1.5;font-size:20px;text-align:left;border-right:1px solid #000;padding: 0 10px;">
                    <b>Total Invoice Value</b></td>
                <td
                    style="border-bottom:5px double #000;line-height:1.5;font-size:20px;text-align:right;padding: 0 10px;">
                    <b>Rs.0.00</b></td>
            </tr>
            <tr>
                <td
                    style="line-height:1.5;font-size:20px;border-right:1px solid #000;padding-left:10px;vertical-align:top;">
                    Tearms & Conditions : <br>1. Payment within 15 days <br>2. Subject to Vadodara Jurisdiction <br>3.Delay
                    Payment 24% extra. <br>4. Packing Charges Extra.
                </td>

            </tr>

        </table>
    </div>
</div>


</body>

</html>
